{
  "env": {
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ],
        "@babel/react"
      ]
    },
    "cjs": {
      "presets": [["@babel/preset-env"], "@babel/react"]
    }
  }
}
